<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Copatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Muchiri CV</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- header section -->
    <header>
        <div class="logo"><span>P</span>mc`</div>
        <ul class="navlist">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about" class="">About</a></li>
            <li><a href="#skills" class="">Skills</a></li>
            <li><a href="#portfolio" class="">Portfolio</a></li>
            <li><a href="#contact" class="">Contact</a></li>
        </ul>
        <div id="menu-icon" class="bx bx-menu"></div>
    </header>

    <!-- Home section -->
    <section id="home" class="home">
        <div class="home-content">
            <h1>Hi. I am Paul Muchiri</h1>
            <div class="change-text">
                <h3>And I am</h3>
                <h3>
                    <span class="word">DevOps&nbsp;Engineer</span>
                    <span class="word">System&nbsp;Administrator</span>
                    <span class="word">Python&nbsp;Developer</span>
                    <span class="word">Frontend&nbsp;Developer</span>
                    <span class="word">Backend&nbsp;Developer</span>
                </h3>
            </div>
            <p>Highly skilled and dynamic Mathematics and computer Science graduate
                 with a comprehensive background in system administration and Devops engineering and Database Administration.
            </p>
            <div class="btn-box.">
                <a href="#" class="btn">Read More!</a>
        </div>
            <div class="info-box">
                <div class="emai-info">
                    <h5>Email :</h5>
                    <span>pmc.ac.ke@gmail.com</span>
                </div>
                <div class="github-info">
                    <h5>Github :</h5>
                    <span>pmc-muchiri</span>
                </div>
            </div>

                <div class="btn-box">
                    <a href="#" class="btn">Hire Me</a>
                    <a href="#" class="btn">Download CV</a>
                </div>
                
                <div class="social-icons">
                    <a href="#" class=""><i class='bx bxl-twitter'></i></a>
                    <a href="#" class=""><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class=""><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" class=""><i class='bx bxl-facebook' ></i></a>
                </div>
        </div>

            <div class="home-image">
                <div class="image-box"><img src="static/assets/img/pmc.png" alt="">
                </div>
                <div class="liquid-shape">
                    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                        <path fill="#12f7ff">
                            <animate attributeName="d"
                                dur="20000ms"
                                repeatCount="indefinite"
                                values="M437.5,308.5Q453,367,395,383.5Q337,400,293.5,412Q250,424,193.5,435Q137,446,117,392Q97,338,51.5,294Q6,250,43,201Q80,152,109,103.5Q138,55,194,67Q250,79,293.5,89.5Q337,100,382.5,123.5Q428,147,425,198.5Q422,250,437.5,308.5Z;
                                
                                M444.5,311.5Q464,373,396,379Q328,385,289,427.5Q250,470,188.5,467Q127,464,121,396Q115,328,67.5,289Q20,250,67,211Q114,172,129,119Q144,66,197,51Q250,36,307,44.5Q364,53,390,103.5Q416,154,420.5,202Q425,250,444.5,311.5Z;
                                
                                M455.5,300.5Q425,351,399,407Q373,463,311.5,459Q250,455,195.5,447Q141,439,128,383.5Q115,328,91,289Q67,250,93.5,212.5Q120,175,136.5,128.5Q153,82,201.5,45.5Q250,9,305.5,33.5Q361,58,374,114.5Q387,171,436.5,210.5Q486,250,455.5,300.5Z;
                                
                                M425.5,299.5Q421,349,379.5,375.5Q338,402,294,425.5Q250,449,210,419Q170,389,123,369.5Q76,350,46,300Q16,250,53.5,204Q91,158,120.5,117.5Q150,77,200,40Q250,3,304.5,31.5Q359,60,394.5,103Q430,146,430,198Q430,250,425.5,299.5Z;
                                
                                M443.5,302.5Q432,355,381.5,372.5Q331,390,290.5,429.5Q250,469,187.5,467.5Q125,466,92.5,413Q60,360,73.5,305Q87,250,93.5,206.5Q100,163,123,116.5Q146,70,198,83Q250,96,311.5,66Q373,36,388.5,98.5Q404,161,429.5,205.5Q455,250,443.5,302.5Z;

                                M467.5,309Q454,368,411.5,411.5Q369,455,309.5,445.5Q250,436,198,433.5Q146,431,92.5,401.5Q39,372,53,311Q67,250,51,188Q35,126,92.5,101.5Q150,77,200,88.5Q250,100,306,78Q362,56,381.5,109.5Q401,163,441,206.5Q481,250,467.5,309Z;

                                M447.5,299.5Q422,349,383,380.5Q344,412,297,428Q250,444,197,438.5Q144,433,94,401Q44,369,58.5,309.5Q73,250,70,197Q67,144,96.5,89.5Q126,35,188,38.5Q250,42,298,63Q346,84,400,108Q454,132,463.5,191Q473,250,447.5,299.5Z;

                                M440.5,299.5Q421,349,385,385.5Q349,422,299.5,426Q250,430,205,417.5Q160,405,118.5,377.5Q77,350,69.5,300Q62,250,76,204Q90,158,115,109Q140,60,195,48Q250,36,307,44Q364,52,409,92Q454,132,457,191Q460,250,440.5,299.5Z;

                                M413.5,290.5Q390,331,364.5,368Q339,405,294.5,440Q250,475,201.5,447Q153,419,104.5,390.5Q56,362,40.5,306Q25,250,63,207Q101,164,132,132Q163,100,206.5,63.5Q250,27,291,67.5Q332,108,382.5,126Q433,144,435,197Q437,250,413.5,290.5Z;
                                
                                M437.5,308.5Q453,367,395,383.5Q337,400,293.5,412Q250,424,193.5,435Q137,446,117,392Q97,338,51.5,294Q6,250,43,201Q80,152,109,103.5Q138,55,194,67Q250,79,293.5,89.5Q337,100,382.5,123.5Q428,147,425,198.5Q422,250,437.5,308.5Z;
                                "

                                ></animate>
                        </path>
                      </svg>
                </div>
                <div class="liquid-shape">
                    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                        <path fill="#12f7ff">
                            <animate attributeName="d"
                                dur="20000ms"
                                repeatCount="indefinite"
                                values="M437.5,308.5Q453,367,395,383.5Q337,400,293.5,412Q250,424,193.5,435Q137,446,117,392Q97,338,51.5,294Q6,250,43,201Q80,152,109,103.5Q138,55,194,67Q250,79,293.5,89.5Q337,100,382.5,123.5Q428,147,425,198.5Q422,250,437.5,308.5Z;
                                
                                M444.5,311.5Q464,373,396,379Q328,385,289,427.5Q250,470,188.5,467Q127,464,121,396Q115,328,67.5,289Q20,250,67,211Q114,172,129,119Q144,66,197,51Q250,36,307,44.5Q364,53,390,103.5Q416,154,420.5,202Q425,250,444.5,311.5Z;
                                
                                M455.5,300.5Q425,351,399,407Q373,463,311.5,459Q250,455,195.5,447Q141,439,128,383.5Q115,328,91,289Q67,250,93.5,212.5Q120,175,136.5,128.5Q153,82,201.5,45.5Q250,9,305.5,33.5Q361,58,374,114.5Q387,171,436.5,210.5Q486,250,455.5,300.5Z;
                                
                                M425.5,299.5Q421,349,379.5,375.5Q338,402,294,425.5Q250,449,210,419Q170,389,123,369.5Q76,350,46,300Q16,250,53.5,204Q91,158,120.5,117.5Q150,77,200,40Q250,3,304.5,31.5Q359,60,394.5,103Q430,146,430,198Q430,250,425.5,299.5Z;
                                
                                M443.5,302.5Q432,355,381.5,372.5Q331,390,290.5,429.5Q250,469,187.5,467.5Q125,466,92.5,413Q60,360,73.5,305Q87,250,93.5,206.5Q100,163,123,116.5Q146,70,198,83Q250,96,311.5,66Q373,36,388.5,98.5Q404,161,429.5,205.5Q455,250,443.5,302.5Z;

                                M467.5,309Q454,368,411.5,411.5Q369,455,309.5,445.5Q250,436,198,433.5Q146,431,92.5,401.5Q39,372,53,311Q67,250,51,188Q35,126,92.5,101.5Q150,77,200,88.5Q250,100,306,78Q362,56,381.5,109.5Q401,163,441,206.5Q481,250,467.5,309Z;

                                M447.5,299.5Q422,349,383,380.5Q344,412,297,428Q250,444,197,438.5Q144,433,94,401Q44,369,58.5,309.5Q73,250,70,197Q67,144,96.5,89.5Q126,35,188,38.5Q250,42,298,63Q346,84,400,108Q454,132,463.5,191Q473,250,447.5,299.5Z;

                                M440.5,299.5Q421,349,385,385.5Q349,422,299.5,426Q250,430,205,417.5Q160,405,118.5,377.5Q77,350,69.5,300Q62,250,76,204Q90,158,115,109Q140,60,195,48Q250,36,307,44Q364,52,409,92Q454,132,457,191Q460,250,440.5,299.5Z;

                                M413.5,290.5Q390,331,364.5,368Q339,405,294.5,440Q250,475,201.5,447Q153,419,104.5,390.5Q56,362,40.5,306Q25,250,63,207Q101,164,132,132Q163,100,206.5,63.5Q250,27,291,67.5Q332,108,382.5,126Q433,144,435,197Q437,250,413.5,290.5Z;
                                
                                M437.5,308.5Q453,367,395,383.5Q337,400,293.5,412Q250,424,193.5,435Q137,446,117,392Q97,338,51.5,294Q6,250,43,201Q80,152,109,103.5Q138,55,194,67Q250,79,293.5,89.5Q337,100,382.5,123.5Q428,147,425,198.5Q422,250,437.5,308.5Z;
                                "

                                ></animate>
                        </path>
                      </svg>
                </div>
            </div>
        </div> 
    </section>
<!-------------------------------------- About section ------------------------------------------------------------>
<section id="about" class="about">
    <div class="img-about">
        <img src="static/assets/img/pmc.png" alt="pmc">
    
        <div class="info-about1">
            <span>5+</span>
            <p>Years od Experience</p> 
        </div>
        <div class="info-about2">
            <span>5+</span>
            <p>Years od Experience</p> 
        </div>
        <div class="info-about3">
            <span>5+</span>
            <p>Years od Experience</p> 
        </div>
    </div>
    <div class="about-content">
        <span>Let Me tell you About Me</span>
        <h2>About Me</h2>
        <h3>A story of good</h3>
        <p>Highly skilled and dynamic Mathematics and computer Science graduate with a comprehensive background in system administration and Devops engineering and Database Administration.
            Known for excellent problem-solving abilities and a forward-thinking approach. 

            I'm now looking to leverage my skills in a challenging and progressive Devops Role.</p>
        <div class="btn-box">
                <a href="#" class="btn">Read More!</a>
        </div>
    </div>
</section>

<!-------------------------------------- services section ------------------------------------------------------------>
<section id="services" class="services">
    <div class="main-text">
        <span>What I can do</span>
        <h2>My Services </h2>
    </div>
    <div class="section-services">
        <div class="service-box">
            <i class='bx bxs-layer service-icon' ></i>
            <h3>Devops Engineer</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat quaerat tenetur nesciunt atque. Necessitatibus, sit ea ipsa tenetur a doloribus! Fugit deleniti quidem veritatis! Maiores quisquam maxime doloremque facere!
            </p>
            <div class="btn-box service-btn">
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
        <div class="service-box">
            <i class='bx bxs-layer service-icon' ></i>
            <h3>System Administrator</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat quaerat tenetur nesciunt atque. Necessitatibus, sit ea ipsa tenetur a doloribus! Fugit deleniti quidem veritatis! Maiores quisquam maxime doloremque facere!
            </p>
            <div class="btn-box service-btn">
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
        <div class="service-box">
            <i class='bx bxs-layer service-icon' ></i>
            <h3>Python Developer</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat quaerat tenetur nesciunt atque. Necessitatibus, sit ea ipsa tenetur a doloribus! Fugit deleniti quidem veritatis! Maiores quisquam maxime doloremque facere!
            </p>
            <div class="btn-box service-btn">
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
        <div class="service-box">
            <i class='bx bxs-layer service-icon' ></i>
            <h3>Frontend Developer</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat quaerat tenetur nesciunt atque. Necessitatibus, sit ea ipsa tenetur a doloribus! Fugit deleniti quidem veritatis! Maiores quisquam maxime doloremque facere!
            </p>
            <div class="btn-box service-btn">
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
        <div class="service-box">
            <i class='bx bxs-layer service-icon' ></i>
            <h3>Backend Developer</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti placeat quaerat tenetur nesciunt atque. Necessitatibus, sit ea ipsa tenetur a doloribus! Fugit deleniti quidem veritatis! Maiores quisquam maxime doloremque facere!
            </p>
            <div class="btn-box service-btn">
                <a href="#" class="btn">Read More</a>
            </div>

        </div>
    </div>
</section>

<!-------------------------------------- sekills section ------------------------------------------------------------>
<section id="skills" class="skills">
    <div class="main-text">
        <span>Technical and Professional</span>
        <h2>My Skills</h2>
    </div>
    <div class="skill-main">
        <div class="skill-left">
        <h3>Technical Skills</h3>
        <div class="skill-bar">
            <div class="info">
                <p>Docker</p>
                <p>70%</p>
            </div>
            <div class="bar">
                <span class="docker"></span>
            </div>
        </div>

        <div class="skill-bar">
            <div class="info">
                <p>CI/CD</p>
                <p>82%</p>
            </div>
            <div class="bar">
                <span class="cicd"></span>
            </div>
        </div>

        <div class="skill-bar">
            <div class="info">
                <p>MySQL PostgreSQL</p>
                <p>78%</p>
            </div>
            <div class="bar">
                <span class="mysql"></span>
            </div>
        </div>

        <div class="skill-bar">
            <div class="info">
                <p>python Script</p>
                <p>89%</p>
            </div>
            <div class="bar">
                <span class="python"></span>
            </div>
            
        </div>

        <div class="skill-bar">
            <div class="info">
                <p>Bash Script</p>
                <p>89%</p>
            </div>
            <div class="bar">
                <span class="bash"></span>
            </div>
        </div>

        <div class="skill-bar">
            <div class="info">
                <p>Linux Administration</p>
                <p>90%</p>
            </div>
            <div class="bar">
                <span class="linux"></span>
            </div>
        </div>
        </div>
        <div class="skill-right">
            <h3>Proffesional Skills</h3>
            <div class="proffesional">
                <div class="box">
                    <div class="circle">
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>

                    </div>
                    <div class="text">
                        <big>90%</big>
                        <small>Team Work</small>
                    </div>
                </div>
                <div class="box">
                    <div class="circle">
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>

                    </div>
                    <div class="text">
                        <big>90%</big>
                        <small>Team Work</small>
                    </div>
                </div>
                <div class="box">
                    <div class="circle">
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>

                    </div>
                    <div class="text">
                        <big>90%</big>
                        <small>Team Work</small>
                    </div>
                </div>
                <div class="box">
                    <div class="circle">
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>
                        <div class="points" style="--i:1;"></div>

                    </div>
                    <div class="text">
                        <big>90%</big>
                        <small>Team Work</small>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


    <script src="/static/script.js"></script>
    
</body>
</html>